body{
    background-image: url("images/dust_scratches.png");
    color: #777777;
}
.rightnav{
    display: inline;
}
.customnavheader{
    background-color: #4aaaa5;
    color:#ffffff;
    margin-left: 13%;
    padding: 20px; 
}
.customnavbar{
    border-bottom: 1px solid #cccccc;
    padding: 0px 1%;
}
.custombox{
    background: #ffffff;
    border: 1px solid #dddddd;
    margin-top: 5%;
    padding:1%;
}
h1{
border-bottom: 1px solid #dddddd;
}
.copyright{
    background: #666666;
    font-size: 12px;
    color: #ffffff;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
    width:100%;
}
.nopadding{
    padding:0px;
}